---
- name: Utilities - Update winget sources
  ansible.windows.win_command: winget.exe source update
  register: winget_source_update
  changed_when: "'Updated' in winget_source_update.stdout or 'Updated' in winget_source_update.stderr"
  failed_when: false
  tags: [utilities, winscp, putty, terminal, 7zip, windirstat]

- name: Utilities - Install WinSCP
  ansible.windows.win_command: winget install --id WinSCP.WinSCP --source winget --accept-source-agreements --accept-package-agreements --scope machine
  register: winscp_install
  failed_when: 
    - winscp_install.rc != 0
    - "'No available upgrade found' not in winscp_install.stdout"
    - "'No newer package versions are available' not in winscp_install.stdout"
  tags: [utilities, winscp]

- name: Utilities - Install PuTTY
  ansible.windows.win_command: winget install --id PuTTY.PuTTY --source winget --accept-source-agreements --accept-package-agreements --scope machine
  register: putty_install
  failed_when: 
    - putty_install.rc != 0
    - "'No available upgrade found' not in putty_install.stdout"
    - "'No newer package versions are available' not in putty_install.stdout"
  tags: [utilities, putty]

- name: Utilities - Install Windows Terminal
  ansible.windows.win_command: winget install --id Microsoft.WindowsTerminal --source winget --accept-source-agreements --accept-package-agreements --scope machine
  register: terminal_install
  failed_when: 
    - terminal_install.rc != 0
    - "'No available upgrade found' not in terminal_install.stdout"
    - "'No newer package versions are available' not in terminal_install.stdout"
  tags: [utilities, terminal]

- name: Utilities - Install 7-Zip
  ansible.windows.win_command: winget install --id 7zip.7zip --source winget --accept-source-agreements --accept-package-agreements --scope machine
  register: zip7_install
  failed_when: 
    - zip7_install.rc != 0
    - "'No available upgrade found' not in zip7_install.stdout"
    - "'No newer package versions are available' not in zip7_install.stdout"
  tags: [utilities, 7zip]

- name: Utilities - Install WinDirStat
  ansible.windows.win_command: winget install --id WinDirStat.WinDirStat --source winget --accept-source-agreements --accept-package-agreements --scope machine
  register: windirstat_install
  failed_when: 
    - windirstat_install.rc != 0
    - "'No available upgrade found' not in windirstat_install.stdout"
    - "'No newer package versions are available' not in windirstat_install.stdout"
  tags: [utilities, windirstat]